/* TEMPORARY */

button img, .button img { display: inline-block; position: relative; height: 30px; margin: -5px 5px -5px 0; vertical-align: middle; }
button > img + p, .button > img + p { line-height: 20px; }

/* Defaults */

::selection { text-shadow: none; background-color: rgba(0, 0, 0, .15); }
a { cursor: pointer !important; transition: color .35s; }
img { width: inherit; vertical-align: middle; }
button, .button { z-index: 1; cursor: pointer !important; }
header, section, footer, .container { box-sizing: border-box; }

/* Input */

input, textarea, select, button, .button { width: 100%; box-sizing: border-box; outline: 0; }
input, textarea { color: rgba(71, 75, 76, 1); outline: 0; border: 0; border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24); transition: all 0.3s cubic-bezier(.25, .8, .25, 1); }
input::placeholder, textarea::placeholder { color: rgba(71, 75, 76, .5); }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgba(71, 75, 76, .5); }
input::-moz-placeholder, textarea::-moz-placeholder { color: rgba(71, 75, 76, .5); }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: rgba(71, 75, 76, .5); }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: rgba(71, 75, 76, .5); }

input:focus::placeholder, textarea:focus::placeholder { color: rgba(71, 75, 76, .15); }
input:-moz-placeholder:focus, textarea:-moz-placeholder:focus { color: rgba(71, 75, 76, .15); }
input::-moz-placeholder:focus, textarea::-moz-placeholder:focus { color: rgba(71, 75, 76, .15); }
input:-ms-input-placeholder:focus, textarea:-ms-input-placeholder:focus { color: rgba(71, 75, 76, .15); }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: rgba(71, 75, 76, .15); }

.checkbox { display: inline-block; width: 100%; margin: 0; padding: 0; text-align: left; font-size: .75em; line-height: 25px; vertical-align: middle; }
.checkbox .boolean { display: inline-block; float: left; width: 21px; height: 21px; margin: 2px 10px 2px 0; color: rgba(71, 75, 76, 1); background-color: rgba(255, 255, 255, 1); outline: 0; border: 0; border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24); transition: all 0.3s cubic-bezier(.25, .8, .25, 1); cursor: pointer !important; }
.checkbox .boolean.true { background-image: url('../images/interface/sign-checked.png'); background-size: contain; }
.checkbox input[type="checkbox"] { display: none !important; }

/* Typography */

@font-face {
    font-family: "sourcesansproregular";
    src: url("../fonts/sourcesanspro-regular.ttf") format("truetype");
}

@font-face {
    font-family: "sourcesansprosemibold";
    src: url("../fonts/sourcesanspro-semibold.ttf") format("truetype");
}

@font-face {
    font-family: "merriweatherbold";
    src: url("../fonts/merriweather-bold.ttf") format("truetype");
}

/* Initial */

body { position: relative; padding-bottom: 350px; color: rgba(71, 75, 76, 1); font-family: 'sourcesansproregular', sans-serif; font-size: 16px; background-color: rgba(245, 247, 250, 1); }
body, a, b, p, h1, h2, h3, h4, h5, h6, span, del, button, .button { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
h1, h2, h3, h4, h5, h6, button, .button { font-family: "sourcesansprosemibold", "Source Sans Pro Semibold", "Source Sans Bold", sans-serif; }
h1 { color: rgba(0, 69, 166, 1); font-family: 'merriweatherbold', serif; line-height: 125%; margin-bottom: 1em; }
h2 { color: rgba(0, 69, 166, 1); font-family: 'merriweatherbold', serif; line-height: 135%; }
h3 { color: rgba(0, 212, 115, 1); line-height: 150%; }
p { line-height: 135%; }
h1 + p, h2 + p, h3 + p { margin-top: .35em; }

/* Overlay */

.overlay { display: none; position: fixed; z-index: 10; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .95); overflow-y: scroll; }
.overlay .container { display: table-cell; vertical-align: middle; text-align: center; }

/* Navigation */

nav { position: fixed; top: 0; left: 0; right: 0; height: 100px; margin-bottom: -100px; z-index: 10; border-bottom: 1px solid rgba(0, 69, 166, .15); box-shadow: 0 1px 5px rgba(0, 0, 0, 0), 0 1px 3px rgba(0, 0, 0, 0); }
nav .container { position: relative; height: 100px; }
nav a.switch { display: none; }
nav a.switch .menu-icon { position: relative; float: right; width: auto !important; height: 26px; margin: 37px 0; }
nav a.switch .close-icon { display: none; position: relative; z-index: 100; float: right; width: auto !important; height: 26px; margin: 37px 4px; }
body.menu-open nav a.switch .menu-icon { display: none; }
body.menu-open nav a.switch .close-icon { display: block; }

/* Identity */

.identity { display: block !important; float: left; width: auto; }

/* Menu */

.menu { display: block; position: relative; height: auto; margin: 0 auto; padding: 0; text-align: right !important; }
.menu > a { display: inline-block; position: relative; height: 100px; margin-right: 3%; color: rgba(0, 69, 166, 1); cursor: pointer; font-family: "sourcesansprosemibold", "Source Sans Pro Semibold", "Source Sans Bold", sans-serif; font-size: 22px; line-height: 100px; text-decoration: none; box-sizing: border-box; transition: opacity .35s ease; opacity: 1; }
.menu > a:last-of-type { margin-right: 0; }
.menu > a.clicked:last-of-type { color: rgba(0, 212, 115, 1); }
.menu > a:hover { opacity: .75; }
.menu > a.active { border-bottom: 4px solid rgba(0, 69, 166, .15); }

/* Submenu */

.submenu { display: none; position: absolute; top: 85px; right: 0; width: 200px; padding: 5px 0; background-color: rgba(0, 212, 115, 1); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.submenu::before { content: ''; position: absolute; top: -15px; right: 40px; width: 0; height: 0; border-top: 10px solid transparent; border-left: 10px solid transparent; border-right: 10px solid rgba(0, 212, 115, 1); border-bottom: 10px solid rgba(0, 212, 115, 1); }
.submenu.open { display: block; }
.submenu > a, .submenu > a:visited { display: inline-block; box-sizing: border-box; width: 200px; padding: 6% 10%; color: white; font-size: 0.8em; text-align: left; }
.submenu > a:hover { background-color: rgba(0, 69, 166, .25); }

/* Links */

a, a:visited { position: relative; text-decoration: none; outline: none; }
a.link::after { position: absolute; top: 100%; left: 0; width: 100%; height: 1px; box-sizing: border-box; background-color: rgba(0, 69, 166, 1); content: ''; opacity: 0; transition: opacity 0.3s, transform 0.3s; transform: translateY(4px);
}
a.link:hover::after, a.link:focus::after { opacity: 1; transform: translateY(0px); }

/* Layout */

body, div, section { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
body > nav + header:first-of-type, body > nav + section:first-of-type { padding-top: 100px; }
header > .container, section > .container { margin: 4% auto; }
.container { position: relative; width: 90%; margin: 0 auto; padding: 0; text-align: center; }
.container:after { content: ''; display: block; clear: both; }
.container > img { width: 100%; }

/* Header */

header { display: inline-block; width: 100%; min-height: auto; background-size: cover; background-position: bottom center; background-repeat: repeat-x; background-blend-mode: multiply; background-color: transparent; background-image: url('../images/interface/bg-header.png'); border-bottom: 5px solid rgba(0, 69, 166, 1); }
header a { display: inline; }
header > .container > h1 { display: inline-block; margin: 3% 0; font-size: 36px; text-align: center; }
header .container { position: relative; height: auto; transition: left 1s ease; }
header p { font-size: 1.2em; line-height: 150%; }
header button, header .button { font-size: 24px; }
header.extended { min-height: 640px; }

body.subpage header { background-image: url('../images/interface/bg-header.png'); border-bottom: none; }
body.subpage header .container > img.icon { width: auto; margin: 0 auto; }

/* Sections */

section { display: inline-block; width: 100%; margin-bottom: -6px; }
section > .container { text-align: left; }
section + section .container, section .container + .container { margin-top: 0; }

/* Section: Showcase */

section.showcase { background-image: url(../images/interface/bg-showcase.png); background-position: top center; background-repeat: repeat; background-color: transparent; }
section.showcase > .container { margin: 4% auto 2% auto; }
section.showcase button.bottom, section.showcase .button.bottom { margin-bottom: -5px; }

/* Section: Announcement */

section.announcement { width: 100%; height: 80px; padding: 0; font-size: 24px; background-color: white; box-shadow: 0 1px 5px rgba(0, 0, 0, .05), 0 1px 3px rgba(0, 0, 0, .1); }
section.announcement > .container { display: table; margin-top: 0; margin-bottom: 0; }
section.announcement p { display: table-cell; position: relative; top: -10px; left: 10px; height: 80px; text-align: center; vertical-align: middle; }
section.announcement p::before { content: url(../images/interface/icon-announcement.png); position: relative; top: 15px; left: -10px; }

/* Section: Filter */

section.filter { width: 100%; height: 80px; padding: 0; font-size: 24px; background-color: white; box-shadow: 0 1px 5px rgba(0, 0, 0, .05), 0 1px 3px rgba(0, 0, 0, .1); }
section.filter > .container { display: block; box-sizing: content-box; height: 80px; margin-top: 0; margin-bottom: 0; border-left: 1px solid rgba(0, 0, 0, .1); border-right: 1px solid rgba(0, 0, 0, .1); }
section.filter .dropdown { display: block; position: relative; float: left; width: 50%; height: 80px; margin: 0; padding: 0; overflow-y: hidden; color: rgba(71, 75, 76, 1); font-size: 100%; line-height: 67%; background-color: rgba(255, 255, 255, 1); border-radius: 0; box-shadow: none; transition: all 0.3s cubic-bezier(.25,.8,.25,1); }
section.filter .dropdown:first-child { border-left: 1px solid rgba(0, 0, 0, .1); border-right: 1px solid rgba(0, 0, 0, .1); }
section.filter .dropdown:last-child { border-left: 1px solid rgba(0, 0, 0, .1); border-right: 1px solid rgba(0, 0, 0, .1); }
section.filter .dropdown.open { z-index: 2; border-bottom: 1px solid rgba(0, 0, 0, .1); box-shadow: 0 2px 5px rgba(0, 69, 166, 0.05), 0 2px 5px rgba(0, 69, 166, 0.1); }
section.filter .dropdown.category a:first-child::before { content: 'Kategori: '; }
section.filter .dropdown.category.open { height: calc(5 * 60px + 20px); }
section.filter .dropdown.order a:first-child::before { content: 'Sıralama: '; }
section.filter .dropdown.order.open { height: calc(3 * 60px + 20px); }
section.filter .dropdown a { display: block; width: 100%; height: 60px; margin: 0 auto; padding: 0 10%; color: rgba(71, 75, 76, 1); font-family: 'sourcesansproregular', sans-serif; text-align: left; text-transform: none; line-height: 60px; box-sizing: border-box; background-color: rgba(255, 255, 255, 1); transition: background-color .25s ease; }
section.filter .dropdown a:hover { background-color: rgba(0, 0, 0, .035); }
section.filter .dropdown a:first-child { height: 80px; line-height: 80px; background-image: url(../images/interface/arrow_down.png); background-repeat: no-repeat; background-position: right center; background-size: contain; }
section.filter .dropdown.open a:first-child { background-image: url(../images/interface/arrow_up.png); }
section.filter .dropdown a:first-child::before { font-family: "sourcesansprosemibold", "Source Sans Pro Semibold", "Source Sans Bold", sans-serif; }

/* Section: Details */

section.details { padding: 2% 0; color: white; background-color: rgba(0, 212, 115, 1); }
section.details .container { margin-top: 0; margin-bottom: 0; }
section.details .container > p { float: left; width: 33.333%; text-align: center; }
section.details .container > p:first-of-type { text-align: left; }
section.details .container > p:last-of-type { text-align: right; }
section.details .container > p.single { float: none; width: 100%; text-align: center; }
section.details .container > p b { font-family: 'merriweatherbold', serif; }

/* Section: Information */

section.information .container { padding-top: 4%; }
section.information .container > img, body.subpage section.information .container > ul { margin: 2% 0; }
section.information .container > h3 { margin-top: 2%; }

/* Section: Press */

section.press { background-color: white; border-top: 5px solid rgba(0, 69, 166, 1); }
section.press .container { margin: 4% auto 0 auto; }
section.press .message { width: 80%; margin: 0 auto; }
section.press .message img { float: left; width: auto; margin: 0 4% 4% 0; }
section.press .message p { position: relative; top: -5px; background-position: top left; background-repeat: no-repeat; background-color: transparent; }
section.press .message i { float: right; margin-top: 1%; color: rgba(0, 212, 115, 1); font-family: "sourcesansprosemibold", "Source Sans Pro Semibold", "Source Sans Bold", sans-serif; font-size: 1.25em; }

/* Section: Action */

section.action { padding: 2% 0; background-color: rgba(0, 212, 115, 1); }
section.action .container { margin-bottom: 0; }
section.action .container > div { float: left; width: 75%; margin: 0; background-position: left center; background-size: contain; background-repeat: no-repeat; background-color: transparent; }
section.action .container > button, section.action .container > .button { float: right; margin-left: 1%; }
section.action h1, section.action p { color: white; margin-top: .1em !important; margin-bottom: 0 !important; }
section.action button, section.action .button { margin: 0; border-radius: 0; background-color: rgba(0, 69, 166, .25); box-shadow: none; }
section.action button:hover, section.action .button:hover { background-color: rgba(0, 69, 166, 1); }
section.action button.caution, section.action .button.caution { background-color: rgba(255, 0, 40, .25); }
section.action button.caution:hover, section.action .button.caution:hover { background-color: rgba(255, 0, 40, 1); }
section.action .container > .handshake { height: 60px; padding-left: 110px; background-image: url(../images/interface/icon-handshake.png); }
section.action .container > .puzzle { height: 70px; margin: -5px 0; padding: 5px 0; padding-left: 90px; background-image: url(../images/interface/icon-puzzle.png); }
section.action .container > .bulb { height: 80px; margin: -10px 0; padding: 10px 0; padding-left: 90px; background-image: url(../images/interface/icon-bulb.png); }

/* Footer */

footer { display: inline-table; position: absolute; overflow: hidden; bottom: 0; left: 0; right: 0; width: 100%; font-size: 0.85em; background-color: rgba(255, 255, 255, 1); border-bottom: 5px solid rgba(0, 69, 166, 1); }
footer, footer .container { height: 350px; }
footer b { color: rgba(0, 69, 166, 1); }
footer a, footer a:visited, footer a.link, footer a.link:visited { color: rgba(71, 75, 76, 1); }
footer a.link::after { background-color: rgba(71, 75, 76, 1); }
footer .information { position: relative; height: 250px; }
footer .left, footer .middle, footer .right { position: absolute; bottom: 30px; vertical-align: bottom; }
footer .left { float: left; left: 0; width: 35%; text-align: right; }
footer .middle { float: left; left: 50%; margin-left: -15%; width: 30%; text-align: middle; }
footer .middle a { display: inline-block; }
footer .middle a:first-child { margin-bottom: 5%; }
footer .right { float: left; right: 0; width: 35%; text-align: left; }
footer .partners { width: 100%; height: 100px; text-align: center; border-top: 1px dashed rgba(0, 0, 0, .15); }
footer .partners > a { display: inline-block; margin-top: 25px;  margin-right: 2%; margin-bottom: 25px; height: 50px; filter: grayscale(80%); opacity: .5; transition: all .25s ease; }
footer .partners > a:last-child { margin-right: 0; }
footer .partners > a:hover { filter: grayscale(0); opacity: 1; }
footer .partners > a img { height: 100%; }

/* Sign-up & Sign-in */

.sign { display: inline-block; width: 40%; margin-top: 4%; }
.sign > a.option { display: inline-block; float: left; width: 50%; padding: 2% 0; color: rgba(0, 212, 115, 1); background-color: rgba(0, 212, 115, 0); }
.sign > a.option.active { color: rgba(255, 255, 255, 1); background-color: rgba(0, 212, 115, 1); }
.sign .form { display: inline-block; width: 100%; margin-bottom: 1%; padding: 8%; background-color: rgba(0, 212, 115, 1); }
.sign .form .checkbox { margin-bottom: 4%; color: white; }
.sign .form input { display: inline-block; width: 100%; margin-bottom: 4%; padding: 3% 5%; box-sizing: border-box; }
.sign .form input.valid { background-image: url(../images/interface/sign_valid.png); background-repeat: no-repeat; background-position: right center; background-size: 2em 2em; }
.sign .form input.invalid { background-image: url(../images/interface/sign_invalid.png); background-repeat: no-repeat; background-position: right center; background-size: 2em 2em; }
.sign .form button { display: inline-block; width: 100%; margin: 0; padding: 5%; color: rgba(255, 255, 255, 1); box-sizing: border-box; }
.sign a.reminder { float: right; font-size: 0.85em; text-align: right; opacity: .75; }

/* Items */

.item { display: inline-block; position: relative; float: left; width: 32%; margin-right: 2%; margin-bottom: 2%; opacity: 1; }
.item:nth-of-type(3n) { margin-right: 0; }
.item a { display: block; }
.item img { width: 100%; height: auto; }

/* Cards */

.card { overflow: hidden; word-wrap: break-word; background-color: rgba(255, 255, 255, 1); border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); transition: all 0.3s cubic-bezier(.25,.8,.25,1); cursor: pointer; }
.card:hover { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24); }
.card.yayindaki-projeler b { background-color: rgba(0, 212, 115, 1); }
.card.suresi-uzatilan-projeler b { background-color: rgba(255, 180, 0, 1); }
.card.tamamlanan-projeler b { background-color: rgba(255, 0, 40, 1); }
.card a { display: block; margin: 5% 5% 0 5%; }
.card img { width: 100%; margin: 0; }
.card h1 { width: 90%; margin-bottom: 5%; line-height: 1.5em; text-align: center; overflow: hidden; }
.card p { color: rgba(71, 75, 76, .8); margin: 2% 0; font-size: .85em; line-height: 1.5em; text-align: left; overflow: hidden; }
.card blockquote { color: rgba(0, 69, 166, 1); display: block; width: 100%; margin-top: 5%; padding: 2% 0; font-family: 'merriweatherbold', serif; font-size: .85em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-top: 1px solid rgba(0, 0, 0, .15); }
.card blockquote p { margin-top: 0; padding-left: 25px; padding-bottom: 2px; color: rgba(0, 69, 166, 1); font-size: inherit; background-position: left center; background-repeat: no-repeat; background-color: transparent; }
.card blockquote p:first-child { float: left; background-image: url(../images/interface/icon-timeleft.png); }
.card blockquote p:last-child { float: right; background-image: url(../images/interface/icon-prize.png); }
.card b { display: block; position: relative; box-sizing: border-box; left: 0; right: 0; bottom: 0; width: 100%; height: 10%; padding: 3%; color: white; text-align: center; background-color: rgba(0, 212, 115, 1); }

/* Segments */

.segment { margin-bottom: 2%; overflow: hidden; word-wrap: break-word; background-color: rgba(255, 255, 255, 1); border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); transition: all 0.3s cubic-bezier(.25,.8,.25,1); cursor: pointer; }
.segment:hover { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24); }
.segment.yayindaki-projeler a { border-left: 5px solid rgba(0, 212, 115, 1); }
.segment.suresi-uzatilan-projeler a { border-left: 5px solid rgba(255, 180, 0, 1); }
.segment.tamamlanan-projeler a { border-left: 5px solid rgba(255, 0, 40, 1); }
.segment a { display: inline-block; float: left; box-sizing: border-box; width: 100%; padding: 2% 3%; }
.segment img { float: left; margin: 0; }
.segment h1 { width: 100%; margin-bottom: 0; line-height: 1.5em; text-align: left; overflow: hidden; }
.segment p { width: 100%; height: 1.5em; color: rgba(71, 75, 76, .8); font-size: .85em; line-height: 1.5em; text-align: left; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.segment blockquote { display: inline-block; float: left; box-sizing: border-box; width: 100%; margin-top: 1%; color: rgba(0, 69, 166, 1); font-family: 'merriweatherbold', serif; font-size: .85em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.segment blockquote p { display: inline; margin-top: 0; margin-right: 5%; padding-left: 25px; padding-bottom: 2px; color: rgba(0, 69, 166, 1); font-size: inherit; text-align: left;  background-position: left center; background-repeat: no-repeat; background-color: transparent; }
.segment blockquote p:first-child { background-image: url(../images/interface/icon-timeleft.png); }
.segment blockquote p:last-child { background-image: url(../images/interface/icon-prize.png); }
.segment b { display: block; position: relative; box-sizing: border-box; left: 0; right: 0; bottom: 0; width: 100%; height: 10%; padding: 3%; color: white; text-align: center; background-color: rgba(0, 212, 115, 1); }

/* Buttons */

button, .button { display: table; position: relative; width: auto; min-height: 40px; margin: 0 auto; margin-top: 3%; color: white; line-height: 100%; padding: 1.75% 2%; font-size: 100%; color: white !important; text-align: center; background-color: rgba(0, 69, 166, 1); border: none; border-radius: 10px; box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0); transition: all 0.25s cubic-bezier(.25,.8,.25,1); cursor: pointer; }
button:disabled, .button:disabled { box-shadow: none; opacity: 0.15; -moz-opacity:0.35; -khtml-opacity: 0.35; filter: alpha(opacity=35); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)"; }
button, .button, button *, .button * { cursor: pointer !important; }
button a { display: table-cell; position: relative; vertical-align: middle; line-height: 67%; }
button p, button p { display: inline-block; position: relative; vertical-align: middle; }

button:hover, .button:hover { box-shadow: 0 2px 5px rgba(0, 69, 166, 0.2), 0 2px 5px rgba(0, 69, 166, 0.4); }
button:active, .button:active { top: 1px; box-shadow: none; }

button.bottom, .button.bottom { border-radius: 0; height: 50px; padding: 1% 40px; border-top-left-radius: 50px; border-top-right-radius: 50px; }
button.bottom:hover, .button.bottom:hover { box-shadow: none; color: rgba(255, 255, 255, .75); }

/* Color */

h1, h2, a, a:visited, a.link, a.link:visited, a.link::after { color: rgba(0, 69, 166, 1); }

/* Window Width < 480 */

@media only screen and (max-width: 479px) {
    
    body { font-size: 16px; }
    h1 { font-size: ; }
    h2 { font-size: ; }

    nav { height: 60px; margin-bottom: -60px; }
    nav .identity img { height: ; margin: ; }
    nav .menu-icon { height: ; margin: ; }
    nav .close-icon { height: ; margin: ; }
    
    body > nav + header:first-of-type, body > nav + section:first-of-type { padding-top: 60px; }
    
    header > h1 { margin: 6% 0 3% 0; }
    header p { display: inline; }
    header button, header .button { padding: 4%; }
    header > .container, section > .container { margin: 7% auto; }
    
    section + section .container { margin-top: 3%; }
    section .container > h1 { font-size: ; margin-bottom: 5%; }
    
    #menu {  }
    #menu li { }
    #menu li a {  }
    
    .item { width: 100%; margin-right: 0%; margin-bottom: 4%; }
    
    footer, footer .container { height: ; }
}

/* 480 ≤ Window Width < 768 */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body { font-size: 17px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    nav { height: 60px; margin-bottom: -60px; }
    nav .identity img { height: ; margin: ; }
    nav .menu-icon { height: ; margin: ; }
    nav .close-icon { height: ; margin: ; }
    
    body > nav + header:first-of-type, body > nav + section:first-of-type { padding-top: 60px; }
    
    header > h1 { margin: 5% 0 2.5% 0; }
    header p { display: inline; }
    header button, header .button { padding: 3.5% 4%; }
    header > .container, section > .container { margin: 6% auto; }
    
    section + section .container { margin-top: 2%; }
    section .container > h1 { font-size: ; margin-bottom: 5%; }
    
    #menu {  }
    #menu li { }
    #menu li a {  }
    
    .item { width: 100%; margin-right: 0%; margin-bottom: 4%; }
    
    footer, footer .container { height: ; }
    
}

/* 768 ≤ Window Width < 1024 */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    body { font-size: 19px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    nav { height: 70px; margin-bottom: -70px; }
    nav .identity img { height: ; margin: ; }
    nav .menu-icon { height: ; margin: ; }
    nav .close-icon { height: ; margin: ; }
    
    body > nav + header:first-of-type, body > nav + section:first-of-type { padding-top: 70px; }
    
    header > h1 { margin: 4% 0 2% 0; }
    header button, header .button { padding: 3% 4%; }
    header > .container, section > .container { margin: 5% auto; }
    
    section + section .container { margin-top: 1%; }
    
    #menu {  }
    #menu li { }
    #menu li a {  }

    .item { width: 48%; margin-right: 4%; margin-bottom: 4%; }
    .item:nth-of-type(3n) { margin-right: 4%; }
    .item:nth-of-type(2n) { margin-right: 0; }
    
    footer, footer .container { height: ; }
    
}

/* 1024 ≤ Window Width < 1280 */

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    
    body { font-size: 20px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    #menu {  }
    #menu li { }
    #menu li a {  }
    
    footer, footer .container { height: ; }
    
}

/* 1280 ≤ Window Width < 1440 */

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    
    body { font-size: 22px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    .container { max-width: 1152px; }
    
    #menu {  }
    #menu li {  }
    #menu li a {  }
    
}

/* 1440 ≤ Window Width < 1680 */

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
    
    body { font-size: 23px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    .container { max-width: 1152px; }
    
}

/* 1680 ≤ Window Width */

@media only screen and (min-width: 1680px) {
    
    body { font-size: 24px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    .container { max-width: 1152px; }
    header > .container, section > .container { margin: 3% auto; }
    
}