/* TEMPORARY */

.announcement { display: table; width: 100%; padding: 1%; font-size: 24px; background-color: white; box-shadow: 0 1px 5px rgba(0, 0, 0, .05), 0 1px 3px rgba(0, 0, 0, .1); }
.announcement > p { display: table-cell; position: relative; top: -10px; left: 10px; height: 50px; text-align: center; vertical-align: middle; }
.announcement > p::before { content: url(../images/interface/icon-announcement.png); position: relative; top: 15px; left: -10px; }

.showcase { background-image: url(../images/interface/bg-showcase.png); background-position: top center; background-repeat: repeat; background-color: transparent; border-bottom: 5px solid rgba(0, 69, 166, 1); }

button img, .button img { display: inline-block; position: relative; height: 30px; margin: -5px 5px -5px 0; vertical-align: middle; }
.button > img + p { line-height: 20px; }



body.overlay-open nav .menu-icon { display: none; }
body.overlay-open nav .close-icon { display: block; }

/* Defaults */

::selection { text-shadow: none; background-color: rgba(0, 0, 0, .15); }

input, textarea, select, button, .button { width: 100%; box-sizing: border-box; outline: 0; }
input, textarea { color: rgba(92, 92, 96, 1); outline: 0; border: 0; border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); transition: all 0.3s cubic-bezier(.25,.8,.25,1); }
input::placeholder, textarea::placeholder { color: ; }
input:-moz-placeholder, textarea:-moz-placeholder { color: ; }
input::-moz-placeholder, textarea::-moz-placeholder { color: ; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: ; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: ; }

input:focus::placeholder, textarea:focus::placeholder { color: ; }
input:-moz-placeholder:focus, textarea:-moz-placeholder:focus { ; }
input::-moz-placeholder:focus, textarea::-moz-placeholder:focus { color: ; }
input:-ms-input-placeholder:focus, textarea:-ms-input-placeholder:focus { color: ; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: ; }

a { cursor: pointer !important; transition: color .35s; }
img { width: inherit; vertical-align: middle; }
button, .button { z-index: 1; cursor: pointer !important; }
header, section, footer, .container { box-sizing: border-box; }

/* Typography */

@font-face {
    font-family: "sourcesansproregular";
    src: url("../fonts/sourcesanspro-regular.ttf") format("truetype");
}

@font-face {
    font-family: "sourcesansprosemibold";
    src: url("../fonts/sourcesanspro-semibold.ttf") format("truetype");
}

@font-face {
    font-family: "merriweatherbold";
    src: url("../fonts/merriweather-bold.ttf") format("truetype");
}

/* Initial */

body { position: relative; padding-bottom: 250px; color: rgba(71, 75, 76, 1); font-family: 'sourcesansproregular', sans-serif; font-size: 16px; background-color: rgba(245, 247, 250, 1); }
body, a, b, p, h1, h2, h3, h4, h5, h6, span, del, button, .button { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
h1, h2, h3, h4, h5, h6, button, .button { font-family: "sourcesansprosemibold", "Source Sans Pro Semibold", "Source Sans Bold", sans-serif; }
h1 { color: rgba(0, 69, 166, 1); font-family: 'merriweatherbold', serif; line-height: 125%; }
h2 { color: rgba(0, 69, 166, 1); font-family: 'merriweatherbold', serif; line-height: 135%; }
h3 { color: rgba(0, 212, 115, 1); line-height: 150%; }
p { line-height: 135%; }
h1 + p, h2 + p, h3 + p { margin-top: .35em; }

/* Overlay */

.overlay { display: none; position: fixed; z-index: 10; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .95); overflow-y: scroll; }
.overlay .container { display: table-cell; vertical-align: middle; text-align: center; }

/* Navigation */

nav { position: fixed; top: 0; left: 0; right: 0; height: 100px; margin-bottom: -100px; z-index: 10; border-bottom: 1px solid rgba(0, 69, 166, .15); box-shadow: 0 1px 5px rgba(0, 0, 0, 0), 0 1px 3px rgba(0, 0, 0, 0); }
nav .container, .overlay > .container:first-child { position: relative; height: 100px; }

/* Identity */

.identity { display: block !important; float: left; width: auto; }

/* Menu */

.menu { display: block; position: relative; height: auto; margin: 0 auto; padding: 0; text-align: right !important; }
.menu a { display: inline-block; position: relative; height: inherit; margin-right: 3%; color: rgba(0, 69, 166, 1); cursor: pointer; font-family: "sourcesansprosemibold", "Source Sans Pro Semibold", "Source Sans Bold", sans-serif; font-size: 22px; line-height: 100px; text-decoration: none; box-sizing: border-box; transition: opacity .35s ease; opacity: 1; }
.menu a:last-child { margin-right: 0; }
.menu a:hover { opacity: .75; }
.menu a.active { border-bottom: 4px solid rgba(0, 69, 166, .15); }
.menu a.switch { display: none; }
.menu a.switch .menu-icon { position: relative; float: right; width: auto !important; height: 26px; margin: 37px 0; }
.menu a.switch .close-icon { display: none; position: relative; z-index: 100; float: right; width: auto !important; height: 26px; margin: 37px 4px; }

/* Links */

a, a:visited { position: relative; text-decoration: none; outline: none; }
a.link::after { position: absolute; top: 100%; left: 0; width: 100%; height: 1px; box-sizing: border-box; background-color: rgba(255, 255, 255, 1); content: ''; opacity: 0; transition: opacity 0.3s, transform 0.3s; transform: translateY(4px);
}
a.link:hover::after, a.link:focus::after { opacity: 1; transform: translateY(0px); }

/* Layout */

body, div, section { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
header > .container, section > .container { margin: 4% auto; }
.container { position: relative; width: 90%; margin: 0 auto; padding: 0; text-align: center; }
.container:after { content: ''; display: block; clear: both; }
.container > img { width: 100%; }

/* Header */

header { display: inline-block; width: 100%; min-height: 640px; padding-top: 100px; background-size: cover; background-position: bottom center; background-repeat: repeat-x; background-blend-mode: multiply; background-color: transparent; border-bottom: 5px solid rgba(0, 69, 166, 1); }
header a { display: inline; }
header > .container > h1 { display: inline-block; margin: 3% 0; font-size: 36px; text-align: center; }
header .container { position: relative; height: auto; transition: left 1s ease; }
header p { font-size: 1.2em; line-height: 150%; }
header button, header .button { font-size: 24px; }

/* Section */

section { display: inline-block; width: 100%; }
section > .container { text-align: left; }
section + section .container, section .container + .container { margin-top: 0; }

/* Footer */

footer { display: inline-table; position: absolute; overflow: hidden; bottom: 0; left: 0; right: 0; width: 100%; background-color: rgba(255, 255, 255, 1); border-top: 5px solid rgba(0, 69, 166, 1); }
footer, footer .container, footer .promo { height: 250px; }

/* Items */

.item { display: inline-block; position: relative; float: left; width: 32%; margin-right: 2%; margin-bottom: 2%; opacity: 1; }
.item:nth-of-type(3n) { margin-right: 0; }
.item a { display: block; }
.item img { width: 100%; height: auto; }

/* Cards */

.card { overflow: hidden; word-wrap: break-word; background-color: rgba(255, 255, 255, 1); border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); transition: all 0.3s cubic-bezier(.25,.8,.25,1); cursor: pointer; }
.card a { display: block; margin: 5% 5% 0 5%; }
.card:hover { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24); }
.card img { width: 100%; margin: 0; }
.card h1 { width: 90%; margin-bottom: 5%; line-height: 1.5em; text-align: center; overflow: hidden; }
.card p { color: rgba(71, 75, 76, .8); margin: 2% 0; font-size: .85em; line-height: 1.5em; text-align: left; overflow: hidden; }
.card blockquote { color: rgba(0, 69, 166, 1); display: block; width: 100%; margin-top: 5%; padding: 2% 0; font-family: 'merriweatherbold', serif; font-size: .85em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-top: 1px solid rgba(0, 0, 0, .15); }
.card blockquote p { margin-top: 0; padding-left: 25px; padding-bottom: 2px; color: rgba(0, 69, 166, 1); font-size: inherit; background-position: left center; background-repeat: no-repeat; background-color: transparent; }
.card blockquote p:first-child { float: left; background-image: url(../images/interface/icon-timeleft.png); }
.card blockquote p:last-child { float: right; background-image: url(../images/interface/icon-prize.png); }
.card b { display: block; position: relative; box-sizing: border-box; left: 0; right: 0; bottom: 0; width: 100%; height: 10%; padding: 3%; color: white; text-align: center; background-color: rgba(0, 212, 115, 1); }

/* Buttons */

button, .button { display: block; position: relative; width: auto; min-height: 40px; margin: 0 auto; margin-top: 3%; color: white; line-height: 100%; padding: 1.75% 2%; font-size: 100%; color: white; text-align: center; text-transform: uppercase; background-color: rgba(0, 69, 166, 1); border: none; border-radius: 10px; box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0); transition: all 0.25s cubic-bezier(.25,.8,.25,1); cursor: pointer; }
.button { display: table; line-height: 150%; }
button:disabled, .button:disabled { opacity: 0.35; -moz-opacity:0.35; -khtml-opacity: 0.35; filter: alpha(opacity=35); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)"; }
button, .button, button *, .button * { cursor: pointer !important; }
button a, .button p { display: table-cell; position: relative; vertical-align: middle; line-height: 67%; }
button p { display: inline-block; position: relative; vertical-align: middle; }

button, .button {  }
button:hover, .button:hover { box-shadow: 0 2px 5px rgba(0, 69, 166, 0.2), 0 2px 5px rgba(0, 69, 166, 0.4); }
button:active, .button:active { top: 1px; box-shadow: none; }

/* Color */

h1, h2, a, a:visited, a.link, a.link:visited, a.link::after, button, .button { color: ; }

/* Window Width < 480 */

@media only screen and (max-width: 479px) {
    
    body { font-size: 16px; }
    h1 { font-size: ; }
    h2 { font-size: ; }

    nav { height: 60px; margin-bottom: -60px; }
    nav .identity img { height: ; margin: ; }
    nav .menu-icon { height: ; margin: ; }
    nav .close-icon { height: ; margin: ; }
    
    header:first-of-type { padding-top: 60px; }
    header > h1 { margin: 6% 0 3% 0; }
    header p { display: inline; }
    header button, .header button { padding: 4%; }
    header > .container, section > .container { margin: 7% auto; }
    
    section + section .container { margin-top: 3%; }
    section .container > h1 { font-size: ; margin-bottom: 5%; }
    
    #menu {  }
    #menu li { }
    #menu li a {  }
    
    .item { width: 100%; margin-right: 0%; margin-bottom: 4%; }
    
    footer, footer .container { height: ; }
}

/* 480 ≤ Window Width < 768 */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body { font-size: 17px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    nav { height: 60px; margin-bottom: -60px; }
    nav .identity img { height: ; margin: ; }
    nav .menu-icon { height: ; margin: ; }
    nav .close-icon { height: ; margin: ; }
    
    header:first-of-type { padding-top: 60px; }
    header > h1 { margin: 5% 0 2.5% 0; }
    header p { display: inline; }
    header button, header .button { padding: 3.5% 4%; }
    header > .container, section > .container { margin: 6% auto; }
    
    section + section .container { margin-top: 2%; }
    section .container > h1 { font-size: ; margin-bottom: 5%; }
    
    #menu {  }
    #menu li { }
    #menu li a {  }
    
    .item { width: 100%; margin-right: 0%; margin-bottom: 4%; }
    
    footer, footer .container { height: ; }
    
}

/* 768 ≤ Window Width < 1024 */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    body { font-size: 19px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    nav { height: 70px; margin-bottom: -70px; }
    nav .identity img { height: ; margin: ; }
    nav .menu-icon { height: ; margin: ; }
    nav .close-icon { height: ; margin: ; }
    
    header:first-of-type { padding-top: 70px; }
    header > h1 { margin: 4% 0 2% 0; }
    header button, header .button { padding: 3% 4%; }
    header > .container, section > .container { margin: 5% auto; }
    
    section + section .container { margin-top: 1%; }
    
    #menu {  }
    #menu li { }
    #menu li a {  }

    .item { width: 48%; margin-right: 4%; margin-bottom: 4%; }
    .item:nth-of-type(3n) { margin-right: 4%; }
    .item:nth-of-type(2n) { margin-right: 0; }
    
    footer, footer .container { height: ; }
    
}

/* 1024 ≤ Window Width < 1280 */

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    
    body { font-size: 20px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    #menu {  }
    #menu li { }
    #menu li a {  }
    
    footer, footer .container { height: ; }
    
}

/* 1280 ≤ Window Width < 1440 */

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    
    body { font-size: 22px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    .container { max-width: 1152px; }
    
    #menu {  }
    #menu li {  }
    #menu li a {  }
    
}

/* 1440 ≤ Window Width < 1680 */

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
    
    body { font-size: 23px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    .container { max-width: 1152px; }
    
}

/* 1680 ≤ Window Width */

@media only screen and (min-width: 1680px) {
    
    body { font-size: 24px; }
    h1 { font-size: ; }
    h2 { font-size: ; }
    
    .container { max-width: 1152px; }
    header > .container, section > .container { margin: 3% auto; }
    
}