header { height: 100%; min-height: inherit; }
#giris #recovery { padding: 80px 0; }
#giris #recovery .container { width: 40%; }
#giris #recovery h1 { text-align: center; }
#giris #recovery input { display: inline-block; width: 100%; margin-bottom: 4%; padding: 3% 5%; box-sizing: border-box; text-align: center; }
#giris #recovery button { display: inline-block; width: 100%; margin: 0; padding: 5%; box-sizing: border-box; }