body#hata { padding-bottom: 0; }

#hata header { display: table; box-sizing: border-box; height: 100%; min-height: inherit; padding-top: 0; }
#hata header .container { display: table-cell; text-align: center; vertical-align: middle; }
#hata header .type[id^=error] { display: block; width: 100%; max-width: inherit; margin: 0 auto; }
#hata header h1 { font-size: 8em; line-height: 67%; margin-bottom: .35em; }
#hata header i { display: block; font-size: 1.5em; }
#hata header button, #hata header .button { margin-top: 5%; }

#hata footer { display: none; }